/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("fundo.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header, footer {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    margin: 20px 0;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

section {
    margin-top: 10px;
}

footer p {
    margin: 0;
}

/* Estilos para placeholders de texto */
.google-lens-result,
.app-identification-result,
.mini-conclusion,
.general-conclusion {
    min-height: 50px;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 3px;
}
